* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    --main-color: rgb(42, 56, 121);
    --main-hover-color: rgb(137, 151, 211);
    --accent-color: rgb(235, 203, 26);
    --accent-hover-color: rgb(243, 241, 106);
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* heder */
header {
    flex: 1;
    width: 100%;
    max-height: 60px;
    background-color: var(--main-color);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* main content */
main {
    flex: 4;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.major-field {
    flex: 4;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
}
.dates__controles {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.dates__buttons {
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.dates__container {
    width: inherit;
    height: 40px;
    background-color: orange;
    margin-left: 103px;
    overflow: hidden;
}
.dates__wrapper {
    width: max-content;
    height: inherit;
    display: flex;
    flex-direction: row;

    position: relative;
    user-select: none;
    touch-action: pan-y;
}
.dates__wrapper.grab {
    cursor: grab;
}
.dates__wrapper.grabbing {
    cursor: grabbing;
}
.dates__item {
    width: 100px;
    /* width: 14,28%; */
    height: 40px;
    background-color: rgb(236, 236, 236);
    border-right: 1px solid rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.dates__para {
    font-size: 1em;
    color: #444;
    text-align: center;
}

.arrow {
    background-color: var(--accent-color);
    width: 80px;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}
.arrow:hover {
    background-color: var(--accent-hover-color);
}

/* task fields */
.task-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 10px;
    height: max-content;
}
.task-fields__item {
    margin-bottom: 4px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.task-fields__namespace {
    width: 100px;
    height: inherit;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    line-height: 1.4em;
    color: white;
    overflow: hidden;
    padding: 10px;
    /* overflow-wrap: break-word; */
}
.custom-gap {
    top: -60px;
}
.task-fields__taskspace {
    width: 100%;
    height: inherit;
    background-color: rgb(236, 236, 236);
    /* margin-left: 100px; */
}
.task-fields__task {
    width: 100px;
    height: inherit;
    background-color: var(--accent-color);
    color: #333;
    font-size: 1em;
}

/* backlog */
.backlog {
    flex: 1;
    max-width: 400px;
    background-color: rgb(236, 236, 236);

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: rgb(89, 101, 114);
}

.backlog__card {
    width: 90%;
    height: max-content;
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 3px rgb(173, 173, 173);
}
.backlog__card:hover {
    box-shadow: 0 0 12px rgb(173, 173, 173);
}
.wcard {
    width: 200px;
}
.backlog__header {
    font-weight: 700;
    font-size: 1em;
    line-height: .5em;
    color: var(--main-color);
}
.backlog__description {
    font-weight: 400;
    font-size: .9em;
    line-height: 1em;
    color: #333;
}

/* footer */
footer {
    flex: 1;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
    padding-left: 0;
}

.footer-links a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9em;
}

.footer-links a:hover {
    color: var(--main-hover-color);
}